<div class="body-section">
  <div class="landing_image">
    <div class="l_image_img">
      <img
        src="https://www.kotak.com/content/dam/Kotak/herosliderbanner/how-credit-cards-enhance-your-shopping-experience.jpg"
        alt="Image">

    </div>
    <div class="l-image_text oval">
      <div class="first_text">
        Spring
      </div>
      <div class="second_text">Collections</div>
      <div class="third_text">Available Now</div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="here">Here</div>
    </div>
  </div>
</div>