<div class="body-section">
  <div class="landing_image">
    <div class="l_image_img">
      <img
        src="https://www.kotak.com/content/dam/Kotak/herosliderbanner/how-credit-cards-enhance-your-shopping-experience.jpg"
        alt="Image">

    </div>
    <div class="l-image_text oval">
      <div class="first_text">
        Spring
      </div>
      <div class="second_text">Collections</div>
      <div class="third_text">Available Now</div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="shopping_info">
        <div class="ship_info check">
          <div class="icon box primary">
            <i class="fas fa-plane"></i>
          </div>
          <div class="shop_info_texts box primary">
            <div class="shopping_info_main_txt">Free Shipping</div>
            <div class="condenced_text">An Order greater than $200</div>
          </div>
          <div class="box triangle-bottom-left info-figure"></div>
        </div>
        <div class="return_info check">
          <div class="triangle-top-right box"></div>
          <div class="icon black ">
            <i class="far fa-clock"></i>
          </div>
          <div class="shop_info_texts box black">
            <div class="shopping_info_main_txt">30-days returns</div>
            <div class="condenced_text">Money Return Customer</div>
          </div>
          <div class="triangle-bottom-left-black box"></div>
        </div>
        <div class="support_info check">
          <div class="triangle-top-right-primary box"></div>
          <div class="icon box primary">
            <i class="far fa-life-ring"></i>
          </div>
          <div class="shop_info_texts box primary">
            <div class="shopping_info_main_txt">24/7 Support</div>
            <div class="condenced_text">Money Return Customer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="card">
        <app-discount></app-discount>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="card">
        <app-products></app-products>
      </div>
    </div>
  </div>
</div>