@import "../../../assets/scss/styles.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.page_container {
  margin: -8px !important;
  width: 1383px;
  max-width: 1383px !important;
  height: 100%;
  padding: 4% 12%;
  position: fixed;
}
.card_container {
  -webkit-box-shadow: 3px 11px 37px 26px rgba(143, 140, 143, 1);
  -moz-box-shadow: 3px 11px 37px 26px rgba(143, 140, 143, 1);
  box-shadow: 3px 11px 37px 26px rgba(143, 140, 143, 1);
  width: 1100px;
  height: 700px;
  .other_container {
    width: 45%;
    height: 700px;
    background-image: url("https://i.pinimg.com/736x/1a/3b/df/1a3bdfe1863bb6bcc6982ed2308c2cb4.jpg");
    background-size: 500px 700px;
    background-repeat: no-repeat;
    opacity: 0.05;
  }
  .form_container {
    width: 55%;
    height: 700px;
    background-color: white;
  }
}
.welcome_container {
  width:30% ;
  margin: ($xxlarge * 6) ($xxlarge * 2.5);
}

.welcome_text {
  font-family: "Open Sans";

}
