<div class="page_container relative">
  <div class="card_container relative">
    <div class="other_container box">
    </div>
    <div class="welcome_container absolute ">
      <div class="logo">
        <div class="logo_text center-align">Shop<span class="text-primary">it</span></div>
      </div>
      <div class="welcome_text center-align">
        <h2>Welcome back</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua
        </p>
        <div class="round_btn_light ">
          <a href="#">Sign in</a>
        </div>
      </div>
    </div>

    <div class="form_container box">
      <div class="xxxlarge-v-margin">
        <div class="form_title center-align">
          Create an account
        </div>
        <div class="small-h-margin xxlarge-v-margin">
          <div class="form_box">
            <input type="text" placeholder="Firstname" class="left medium-v-padding">
            <input type="text" placeholder="Lastname" class="right medium-v-padding">
          </div>
          <div class="form_box">
            <input type="text" placeholder="Username" class="left medium-v-padding">
            <input type="text" placeholder="Phone number" class="right medium-v-padding">
          </div>
          <div class="form_box">
            <input type="password" placeholder="Password" class="left medium-v-padding">
            <input type="password" placeholder="Confirm Password" class="right medium-v-padding">
          </div>
          <div class="check_box normal">
            <input type="checkbox" name="vehicle3" value="Boat" class="center-align">I agree to the teams and use. <br>
          </div>
          <div class="round_button_primary center-align normal xxlarge-v-margin">
            <a href="#">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute left">
    
  </div>
</div>