<div class="discount-section">
  <div class="section-one box light">
    <div class="discount">
      <div class="percentage primary text-light">
        30%
      </div>
    </div>
    <div class="image">
      <img src="http://pluspng.com/img-png/women-shoes-png-pink-women-shoes-png-image-401.png" alt="">
    </div>
    <div class="button">
      <a href="#" class="primary text-light">Shop</a>

    </div>
  </div>
  <div class="section section-two light box">
    <div class="discount">
      <div class="percentage primary text-light">
        30%
      </div>
    </div>
    <div class="image">
      <img src="http://pluspng.com/img-png/women-shoes-png-pink-women-shoes-png-image-401.png" alt="Dress">
    </div>
    <div class="button">
      <a href="#" class="primary text-light">Shop</a>

    </div>
  </div>
  <div class="section section-three light box">
    <div class="discount">
      <div class="percentage primary text-light">
        30%
      </div>
    </div>
    <div class="image">
      <img src="http://pluspng.com/img-png/women-shoes-png-pink-women-shoes-png-image-401.png" alt="">
    </div>
    <div class="button">
      <a href="#" class="primary text-light">Shop</a>

    </div>
  </div>
</div>