<div class="header-nav-bar">
  <div class="small_header">
    <div class="left">
      <li class="left medium-padding"><a href="#"> +250781609206</a></li>
      <li class="left medium-padding"><a href="#"> Help center </a></li>
      <li class="left medium-padding"><a href="#">Time</a></li>
    </div>

    <div class="right">
      <li class="left medium-padding border_left"><a href="#">Whatsapp</a></li>
      <li class="left medium-padding"><a href="#">Twitter</a></li>
      <li class="left medium-padding"><a href="#">Instagram</a></li>
    </div>
  </div>
  <div class="b_header">
    <div class="main_menu text_bold">
      <li class="left large-padding"><a href="#">Home</a></li>
      <li class="left large-padding"><a href="#">Gallery</a></li>
      <li class="left large-padding"><a href="#">Categories</a></li>
      <li class="left large-padding"><a href="#">Pages</a></li>
    </div>
    <div class="logo left">
      <li class="large-h-padding">
        <a href="#">
          <h1 class="Logo">Shop<span class="text-primary">it</span></h1>
        </a>
      </li>
    </div>
    <div class="auth text_bold right">
      <li class="left large-padding"><a href="#" class="small-v-padding large-h-padding">Sign in</a></li>
      <li class="left large-padding"><a href="#" class="small-v-padding large-h-padding">Sign up</a></li>
    </div>
  </div>
</div>