<div class="header-nav-bar">
  <div class="small_header">

    <div class="right">
      <li class="left medium-padding ">
        <a href="#" class="circular-border">
          <i class="fas fa-phone "> </i>
        </a></li>
      <li class="left medium-padding border_left"><a href="#" class="circular-border">
          <i class="fab fa-whatsapp"></i>
        </a></li>
      <li class="left medium-padding"><a href="#" class="circular-border" class="circular-border">
          <i class="fab fa-twitter"></i></a></li>
      <li class="left medium-padding"><a href="#" class="circular-border"><i class="fab fa-instagram"></i></a></li>
    </div>
  </div>
  <div class="b_header">
    <div class="main_menu text_bold">
      <li class="left large-padding"><a href="#" class="large-padding">Home</a></li>
      <li class="left large-padding"><a href="#" class="large-padding">Gallery</a></li>
      <li class="left large-padding"><a href="#" class="large-padding">Categories</a></li>
      <li class="left large-padding"><a href="#" class="large-padding">Pages</a></li>
    </div>
    <div class="auth text_bold right">
      <li class="left large-padding"><a href="#" class="small-v-padding large-h-padding">Sign in</a></li>
      <li class="left large-padding"><a href="#" class="small-v-padding large-h-padding">Sign up</a></li>
    </div>
    <div class="logo">
      <div class="logo_text center-align">Shop<span class="text-primary">it</span></div>
      <div class="figure"></div>
    </div>
  </div>
</div>