
<div class="header-nav-bar">
  <div class="small_header">
    <div class="left">
      <li class="left medium-padding"><a href="#"> +250781609206</a></li>
      <li class="left medium-padding"><a href="#"> Help center </a></li>
      <li class="left medium-padding"><a href="#">Time</a></li>
    </div>

    <div class="right">
      <li class="left medium-padding"><a href="#">Whatsapp</a></li>
      <li class="left medium-padding"><a href="#">Twitter</a></li>
      <li class="left medium-padding"><a href="#">Instagram</a></li>
    </div>
  </div>
  <div class="b_header">
    <div class="main_menu xlarge-h-margin left">
      <ul>
        <li class="left medium-padding"><a href="#">Home</a></li>
        <li class="left medium-padding"><a href="#">Gallery</a></li>
        <li class="left medium-padding"><a href="#">Categories</a></li>
        <li class="left medium-padding"><a href="#">Pages</a></li>
      </ul>

    </div>
    <div class="logo xxlarge-h-margin left">
      <li class=""><a href="#">LOGO</a></li>
    </div>
    <div class="small_menu  xxlarge-h-margin left">
      <ul>
        <li class="left medium-padding"><a href="#">Sign in</a></li>
        <li class="left medium-padding"><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</div>